@using Microsoft.AspNetCore.Identity
@using MyProjectM.Areas.Identity.Data
@model Order

@inject SignInManager<MyProjectMUser> SignInManager
@inject UserManager<MyProjectMUser> UserManager
@{
    ViewData["Title"] = "Booking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>
    #box {
      display: none;
  
    }
  </style>
<div class="container">
    
          
              <div class="row">
                        <div class="col-md-4">
                            <div class="song">
						                <div class="song-info">
                                            
							                <center><h3>@ViewBag.data.Title</h3></center>
					                </div>
						                <div class="video-grid-single-page-agileits">
							                <div> <img src="@ViewBag.data.Image" alt="@ViewBag.data.Title" class="img-responsive" />  </div>
						                </div>
					                </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                        <center><h4>Reservation</h4></center>
                               </div><br/>
                                <div class="card-body" >
                                    <div class="row">
                                                     
                                                            @Html.Raw(TempData["msg"])
                        <div class="col-md-8">
                                                    
                                                    @using (Html.BeginForm("Add", "Booking", FormMethod.Post))  
                                                    {
                                                     <input type="hidden" asp-for="User" value="@UserManager.GetUserName(User)" />
                                                         <input type="hidden" asp-for="Film" value="@ViewBag.data.Id" />
                                                         <input type="hidden" asp-for="Total" value="0" />
				                                              <div class="form-group">
                                                                 <label>Num of Tickets :</label>
                                                               <input  class="form-control" type="number" asp-for="Numticket" min="1" />
                                                           </div>
                                                               <div class="form-group">
                                                                   <label>Are You Included ? </label><br/>
                                                                   <center>
                                                                     <label>Yes</label>
                                                                     <input type="radio" id="show"   asp-for="Include" value="1" />
                                                                     <label>No</label>
                                                                     <input type="radio" id="hide"  asp-for="Include" value="0" checked />
                                                                    </center>
                                                               </div>
                                                                  <div class="form-group">
                                                                        <label>Theater place :</label><br/>
                                                                        <select class="form-control" id="ths" asp-for="Theater">       
                                                                              
                                                                            @foreach (var ths in ViewBag.theaters){           
                                                                            <option value="@ths.TheaterID">@ths.Place</option>
                                                                            }
                                                                        </select>
                                                                 </div>
                                                        <div class="form-group">
                                                             <label>Any specific Member :</label><br/>
                                                             <style>
                                                                 #customers option{
                                                                      width:200px;   
                                                                    }
                                                             </style>
                                        
                                                            <select class="form-control" id="customers" asp-for="Members" multiple="multiple">       
                                                                   
                                                                   @foreach (var membre in ViewBag.members){
                                                                      <option value="@membre.FullName">@membre.FullName</option>             
                                                                    }
                                                                </select>
                                        
                                                         </div>
                                                       
                                                        <center><input class="btn btn-primary" type="submit" value="Book"/></center>
                                                     }
                                                </div>
                                            
                                        <div class="col-md-4">
                                            <center><h3>Who's Invited ?</h3></center>
                                            <center>
                                                <ul>
                                               
                                                        <li id="box">@UserManager.GetUserName(User)</li>
                                                        @foreach (var membre in ViewBag.members){
                                                               <li>@membre.FullName</li>
                                                        }
                               
                                            </ul></center>
                                            <center><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add Member</button></center>
                                        </div>
                                    </div>
                   
                   
                                </div>
                            </div>
                        </div>
                         
                </div>
                      
@*<partial name="_Modal.cshtml" />*@
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#customers").select2();
        });
    </script>

    <script>
        const box = document.getElementById('box');

function handleRadioClick() {
  if (document.getElementById('show').checked) {
    box.style.display = 'block';
  } else {
    box.style.display = 'none';
  }
}

const radioButtons = document.querySelectorAll('input[name="Include"]');
radioButtons.forEach(radio => {
  radio.addEventListener('click', handleRadioClick);
});
    </script>